<%= render 'shared/banner' %>
<div class="container text-center">
  <h1 class="m-5"><strong>Cool dragons for rent</strong></h1>
  <div class="row">
    <br>
    <% @dragons.each do |dragon|  %>
      <div class="col-6">
        <br>
        <h2><%= link_to dragon.name, dragon_path(dragon) %></h2>
      <% end %>
      </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<br>
<br>
<br>
<br>
