.account-body{
   font-family: 'Fondamento', cursive;
   height: 100%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   padding: 0px;

}

.account-dragon-list{
  display: flex;
  justify-content:  space-around ;
  flex-direction: row;
}

.account-title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Fondamento', cursive;
  text-shadow: 4px 4px 10px red;
  color: white;
}

.dragon-card-button{
  color: black;
  margin-top: 50px;
}

.dragon-card-button:hover{
  text-decoration: none;
  color: black;
}
