

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdnb.artstation.com/p/assets/images/images/013/400/025/large/antonio-j-manzanedo-red-dragon-manzanedo3.jpg?1539429909;">
  <div class="container text-left">
    <h1>Rent a Dragon</h1>
    <p>Fly on your own - find you way home</p>
  </div>
</div>
