
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "https://wallpaperplay.com/walls/full/a/0/6/309342.jpg" %>);">
  <div class="container text-left">
    <h1>Rent a Dragon</h1>
    <p>Need a dragon for your onward travel?</p>
  </div>
</div>
