

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dtxjlqqqo/image/upload/v1565947090/dragons-flying-over-mountain-peaks-fantasy-hd-wallpaper-1920x1080-8365_mhttvd.jpg">
  <div class="container text-left">
    <h1>Rent a Dragon</h1>
    <p>Those who doubt their existence are often eaten by them...</p>
  </div>
</div>
