.banner {
  background-size: cover;
  // background-position: center;
  height: 600px;
  width: 2000px;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-family: 'Fondamento', cursive;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Libre Caslon Display', serif;
  font-weight: bold;
}
