.button-dragon-silver {
  background-image: linear-gradient(to bottom right, #cecece, #ffffff) !important;
  color: black;
  height: 60px;
  background-size: cover !important;
  background-position: center;
  position: relative;
}
