.dragonpicture-boarder {
  border-radius: 5%;
  background-color: grey;
  padding: 15px 15px;
}

.review-text-white{
  color: white;
  h2 {
    font-family: 'Fondamento', cursive;
    font-size: 45px;
  }
  p {
    font-family: 'Libre Caslon Display', serif;
    font-size: 25px;
  }
  h3 {
    font-family: 'Libre Caslon Display', serif;
    font-size: 25px;
  }
}

.right-font {
  color: black;
  h3 {
    font-family: 'Libre Caslon Display', serif;
  }
}

.review-text-form {
  font-size: 20px;
}

